<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	 <resultMap type="noticeDTO" id="selectNoticeMap">
	 	<id column="notice_no" property="noticeNo"/>
	 	<result column="state" property="state"/>
	 	<result column="sender" property="sender"/>
	 	<result column="receiver" property="receiver"/>
	 	<result column="send_date" property="sendDate"/>
	 	<result column="content" property="content"/>
	 	<result column="check_state" property="checkState"/>
	 	<result column="name" property="name"/>
	 	<result column="file_name" property="fileName"/>
	 </resultMap>
	 <insert id="insertNotice" parameterType="noticeDTO">
	 	insert into notice_table(notice_no,state,sender,receiver,send_date,content,check_state)
	 	values(notice_sequence.nextval,#{state},#{sender},#{receiver,jdbcType=VARCHAR},sysdate,#{content,jdbcType=VARCHAR},'0')
	 </insert>
	 <select id="selectNoticeByReceiver" parameterType="String" resultMap="selectNoticeMap">
	 	select notice_no,notice_table.state state,sender,receiver,send_date,content,check_state,name,file_name
		from notice_table join user_table on (notice_table.sender = user_table.id) 
		where receiver=#{value} 
		order by send_date desc
	 </select>
	 <select id="selectNoticeByAdmin" resultMap="selectNoticeMap">
	 	select notice_no,notice_table.state state,sender,receiver,send_date,content,check_state,name
		from notice_table join user_table on (notice_table.sender = user_table.id) 
		where (receiver is null) and notice_table.state in ('2') 
		order by send_date desc
	 </select>
	 <delete id="deleteNoticeByNo" parameterType="int">
	 	delete from notice_table where notice_no=#{value}
	 </delete>
	 <select id="selectNoticeByNo" parameterType="int" resultMap="selectNoticeMap">
	 	select notice_no,state,sender,receiver,send_date,content,check_state
		from notice_table where notice_no=#{value}
	 </select>
	 <select id="checkNotice" parameterType="map" resultType="String">
	 	select sender from notice_table 
	 	where state = #{state} and receiver=#{receiver} and sender=#{sender}
	 	<if test="content!=null">
	 		and content = #{content}
	 	</if>
	 </select>
	 <select id="selectMessageByAdmin" resultMap="selectNoticeMap">
	 	select notice_no,notice_table.state state,sender,receiver,send_date,content,check_state,name
		from notice_table join user_table on (notice_table.sender = user_table.id) 
		where not(receiver is null) and notice_table.state in ('2') 
		order by send_date desc
	 </select>
	 
	 <update id="readNotice" parameterType="int">
	 	update notice_table set check_state='1' where notice_no=#{value}
	 </update>
	 <select id="selectNotReadNoticeByReceiver" parameterType="String" resultMap="selectNoticeMap">
	 	select notice_no,notice_table.state state,sender,receiver,send_date,content,check_state,name,file_name
		from notice_table join user_table on (notice_table.sender = user_table.id) 
		where receiver=#{value} and check_state='0'
	 </select>
</mapper>