@media screen and (max-width:400px) {
	#content, #header{
		position: relative;
	}
	
	#side{
		display: none;
	}
	
	#container{
		margin:auto;
	}
	
	#content{
		top:60px;
		width:98%;
	}
	
	#header{
		margin-top:20px;
		width:85%;
	}
}
@media screen and (min-width:400px) and (max-width:800px) {
	#content, #header{
		position: relative;
	}
	
	#side{
		display: none;
	}
	
	
	#content{
		top:60px;
	}
	
	#header{
		margin-top:20px;
	}
}
@media screen and (min-width:800px) and (max-width:1024px) {
	#slideBar{
		display:none;
	}
	#header, #side{
		margin-top:20px;
	}
	
}
@media screen and (min-width:1024px) {
	#slideBar{
		display:none;
	}
	#header, #side{
		margin-top:20px;
	}
	
	
}

