@media screen and (max-width:399px) {
	body{
		overflow-y: hidden !important;
   		overflow-x: hidden !important;
	}
	
	#side{
		display: none;
	}
	
	#slideBar{
		display:inline;
	}
	
	#container{
		margin-left:0px;
	}
	
	#header{
		margin-top:20px;
		margin-bottom: 20px;
	}
	
	#header, #content{
		width:100%;
	}
	
}

@media screen and (min-width:400px) and (max-width:799px) {
	body{
		overflow-y: hidden !important;
   		overflow-x: hidden !important;
	}
	
	#content, #header{
		position: relative;
	}
	
	#side{
		display: none;
	}
	
	#slideBar{
		display:inline;
	}
	
	#header{
		margin-top:20px;
		margin-bottom: 20px;
	}
	
	#header, #content{
		width:100%;
	}
	
}
@media screen and (min-width:440px) and (max-width:2000px) {
	
	
}

@media screen and (min-width:800px) and (max-width:999px) {
	body{
		overflow-y: hidden !important;
   		overflow-x: hidden !important;
	}
	
	#side{
		display: inline;
	}
	
	#slideBar{
		display:none;
		
	}
	#content, #header{
		width:70%;
	}
	
	#header, #side{
		margin-top:20px;
		margin-bottom: 10px;
	}
	
}

@media screen and (min-width:1000px) {
	body{
		overflow-y: hidden !important;
   		overflow-x: hidden !important;
	}
	
	#side{
		display: inline;
	}
	
	#slideBar{
		display:none;
	}
	
	#content, #header{
		width:70%;
	}
	
	#header, #side{
		margin-top:20px;
		margin-bottom: 10px;
	}
	
}

