li{
	margin-bottom: 10px;
}

	@font-face {
    	font-family: 'NanumPen';
    	src: url(NanumPen.ttf) format('truetype');
	}

/* 화면 크기에 따른 설정 */
@media screen and (max-width:399px) {
	body{
		overflow-y: hidden !important;
   		overflow-x: hidden !important;
	}
	
	#side{
		display: none;
	}
	
	.slideMenu{
		display:inline;
	}
	
	#container{
		margin-left:0px;
	}
	
	#header{
		margin-top: 10px;
	}
	
	#content, #header{
		position: relative;
		width: 100% !important;
		left: 0% !important;
	}
	.mainScrollHidden{
		width: 100% !important;
	}
	.jbText{
		width:90% !important;
	}
	.mapArea{
		display:none;
	}
	.mapSwitch{
		left:80% !important;
	}
	::-webkit-scrollbar {
		display:none;
	}
}

@media screen and (min-width:400px) and (max-width:780px) {
	body{
		overflow-y: hidden !important;
   		overflow-x: hidden !important;
	}
	
	#content, #header{
		position: relative;
		width: 98% !important;
		left: -1% !important;
	}
	
	#side{
		display: none;
	}
	
	.slideMenu{
		display:inline;
	}
	
	#header{
		margin-top: 10px;
	}
	.mainScrollHidden{
		width:100% !important;
	}
	.jbText{
		width:90% !important;
	}
	.mapArea{
		display:none;
	}
	
	::-webkit-scrollbar {
		display:none;
	}
	
}

@media screen and (min-width:781px) and (max-width:999px) {
	body{
		overflow-y: hidden !important;
   		overflow-x: hidden !important;
	}
	
	#side{
		display: inline;
	}
	
	.slideMenu{
		display:none;
	}
	
	#header{
		width:70%;
		margin-top: 10px;
	}
	.mapSwitch{
		display: none !important;
	}
	
	::-webkit-scrollbar {
		display:none;
	}
}

@media screen and (min-width:1000px) and (max-width:1500px){
	body{
		overflow-y: hidden !important;
   		overflow-x: hidden !important;
	}
	
	#side{
		display: inline;
	}
	
	.slideMenu{
		display:none;
	}
	
	
	#header{
		width:70%;
		margin-top: 10px;
	}
	
	.mapSwitch{
		display: none !important;
	}
	
	::-webkit-scrollbar {
		display:none;
	}
}